In [5]:
import pickle
import pandas as pd

fp = open('./data/missing_edges.p', "rb")
missing_edges = pickle.load(fp)
df_neg = pd.DataFrame(list(missing_edges), columns=['Source', 'Destination'])
print(df_neg.shape)
df_neg.head(1)

(1615, 2)

   Source Destination
0  431708       63172

In [6]:
df_pos = pd.read_csv('./data/sub_graph.csv', names=['Source', 'Destination'])
df_pos = df_pos.drop_duplicates()
print(df_pos.shape)
df_pos.head(1)

(1615, 2)

   Source  Destination
0   47106        34405

In [7]:
df_pos['Class'] = 1
df_neg['Class'] = 0
frames = [df_pos, df_neg]
df = pd.concat(frames)
print(df.shape)
df.head(5)

(3230, 3)

  Source Destination  Class
0  47106       34405      1
1  47106        8032      1
2  75824        8032      1
3  75824       34405      1
4     76        8032      1

In [8]:
df.to_csv('./data/subset_complete.csv')