In [16]:
import pickle
import pandas as pd

fp = open('./data/missing_edges.p', "rb")
missing_edges = pickle.load(fp)
df_neg = pd.DataFrame(list(missing_edges), columns=['Source', 'Destination'])
print(df_neg.shape)
df_neg.head(1)

(2148, 2)

   Source Destination
0  106089       44163

In [17]:
df_pos = pd.read_csv('./data/sub_graph.csv', sep=' ', names=['Source', 'Destination', '_'])
df_pos = df_pos.drop_duplicates()
df_pos = df_pos.drop(columns=['_'])
print(df_pos.shape)
df_pos.head(1)

(2149, 2)

   Source  Destination
0   63500        11402

In [18]:
df_pos['Class'] = 1
df_neg['Class'] = 0
frames = [df_pos, df_neg]
df = pd.concat(frames)
print(df.shape)
df.head(5)

(4297, 3)

  Source Destination  Class
0  63500       11402      1
1  63500      101884      1
2  63500        8593      1
3  63500       52828      1
4  63500       17364      1

In [19]:
df.to_csv('./data/subset_complete.csv')